<!DOCTYPE html>
<html>

<head>
    <title>Agregar Juego</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #000000;
            color: #ebebeb;
        }

        .container {
            text-align: center;
            background-color: #000000;
            padding: 30px;
            border-radius: 10px;
            border: 4px solid #ccc;
        }

        h1 {
            text-align: center;
            border-bottom: 3px solid #ebebeb9d;
            font-family: "Quicksand", sans-serif;
        }

        form {
            font-family: "Montserrat", sans-serif;
            display: flex;
            flex-direction: column;
            width: 400px;
            padding-top: 4vh;
        }

        .titulo_form {
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 20px;
        }

        input,
        textarea,
        select {
            margin-bottom: 15px;
            padding: 10px;
            font-size: 18px;
            border: 1px solid #ccc;
            color-scheme: dark;
            color: #ebebeb;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #3e8d42;
        }

        .divPlataforma {
            font-size: 15px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: start;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .divPlataforma div {
            display: flex;
            align-items: baseline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>{{titulo}}</h1>
        <form action="/guardarFecha" method="post">
            <label for="titulo" class="titulo_form">Título</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="fecha" class="titulo_form">Fecha de lanzamiento</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="categoria" class="titulo_form">Categoría</label>
            <select id="categoria" name="categoria">
                <option value="Accion Aventura">Acción/Aventura</option>
                <option value="FPS">FPS</option>
                <option value="Hack and Slash">Hack and Slash</option>
                <option value="Lucha">Lucha</option>
                <option value="Plataformas">Plataformas</option>
                <option value="Puzles">Puzles</option>
                <option value="ARPG">ARPG</option>
                <option value="CRPG">CRPG</option>
                <option value="Simulacion">Simulación</option>
                <option value="Automatizacion">Automatización</option>
                <option value="Sandbox">Sandbox</option>
                <option value="Estrategia">Estrategia</option>
                <option value="RTS">RTS</option>
                <option value="4x">4x</option>
                <option value="Deportes">Deportes</option>
            </select>

            <label for="plataforma_juego" class="titulo_form">Plataforma</label>
            <div class="divPlataforma">
                <div>
                    <input type="checkbox" id="steam" name="steam" value="">
                    <label for="steam">Steam</label>
                </div>
                <div>
                    <input type="checkbox" id="epic" name="epic" value="">
                    <label for="epic">Epic</label>
                </div>
                <div>
                    <input type="checkbox" id="gog" name="gog" value="">
                    <label for="gog">GoG</label>
                </div>
                <div>
                    <input type="checkbox" id="gamepass" name="gamepass" value="">
                    <label for="gamepass">Game Pass</label>
                </div>
                <div>
                    <input type="checkbox" id="ubisoftplus" name="ubisoftplus" value="">
                    <label for="ubisoftplus">Ubisoft Plus+</label>
                </div>
                <div>
                    <input type="checkbox" id="eaplay" name="eaplay" value="">
                    <label for="eaplay">Ea Play</label>
                </div>
            </div>

            <label for="enlace" class="titulo_form">Enlace</label>
            <input type="url" id="enlace" name="enlace" required>

            <label for="descripcion" class="titulo_form">Descripción</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>

            <input type="submit" value="Guardar">
        </form>
    </div>
</body>

</html>